# Visual Studio Files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# Visual Studio Folderrs
.vs/
.vscode/

# Project Folders
bin/

# Project Files
*.exe
*.dll
*.lib
*.pdb
*.ilk

# ImGui Files
imgui.ini